@import url(https://fonts.googleapis.com/css?family=Merriweather|Rubik);

:root {
    --olive-green:  #606C38;
    --kombu-green:  #283618;
    --cornsilk:     #FEFAE0;
    --corn-darker:  #f8f3cf;
    --earth-yellow: #DDA15E;
    --dogs-brown:   #BC6C25;

    --darkgray:     #343434;
    --darkergray:   #1B1B1B;

    --olive-green-filter: invert(41%) sepia(8%) saturate(2321%) hue-rotate(33deg) brightness(91%) contrast(84%);
    --kombu-green-filter: invert(15%) sepia(40%) saturate(723%) hue-rotate(46deg) brightness(90%) contrast(87%);
    --cornsilk-filter: invert(99%) sepia(98%) saturate(365%) hue-rotate(313deg) brightness(104%) contrast(99%);
    --corn-darker-filter: invert(95%) sepia(74%) saturate(358%) hue-rotate(315deg) brightness(105%) contrast(94%);
    --earth-yellow-filter: invert(68%) sepia(56%) saturate(392%) hue-rotate(349deg) brightness(90%) contrast(91%);
    --dogs-brown-filter: invert(42%) sepia(73%) saturate(588%) hue-rotate(347deg) brightness(96%) contrast(81%);
  }

* {
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}

body {
    margin: 0;
    background-color: var(--cornsilk);
    color: var(--kombu-green);
}

h1, h2, h3 {
    color: var(--kombu-green);
    font-family: Merriweather, sans-serif;
}

header, footer {
    background-color: var(--olive-green);
    color: var(--cornsilk);
}

#head-content {
    padding: 10px;
    margin-bottom: 64px;
}

#head-content > a, h1 {
    text-decoration: none;
    color: var(--cornsilk);
    text-align: center;
}

#foot-content {
    padding: 10px;
    margin-top: 64px;
    font-size: smaller;
}

#foot-content a{
    color: var(--cornsilk);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Non-mobile screens */
@media only screen and (min-width: 600px) {
    #head-content > a, h1{
        padding-left: 10%;
        text-align: left;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--darkergray);
        color: var(--cornsilk);
    }

    h1, h2, h3 {
        color: var(--earth-yellow);
    }
    
    header, footer {
        background-color: var(--darkgray);
        color: var(--cornsilk);
    }

    #head-content > a, h1 {
        color: var(--earth-yellow);
    }

    #foot-content a{
        color: var(--cornsilk);
    }
}