@import url(https://fonts.googleapis.com/css?family=Merriweather|Rubik);

:root {
    --olive-green:  #606C38;
    --kombu-green:  #283618;
    --cornsilk:     #FEFAE0;
    --corn-darker:  #f8f3cf;
    --earth-yellow: #DDA15E;
    --dogs-brown:   #BC6C25;
  }

* {
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}

body {
    margin: 0;
    background-color: var(--cornsilk);
    color: var(--kombu-green);
}

h1, h2, h3 {
    color: var(--kombu-green);
    font-family: Merriweather, sans-serif;
}

header, footer {
    background-color: var(--olive-green);
    color: var(--cornsilk);
}

#head-content {
    padding: 10px;
    margin-bottom: 64px;
}

#head-content > h1 {
    color: var(--cornsilk);
    text-align: center;
}

#foot-content {
    padding: 10px;
    margin-top: 64px;
    font-size: smaller;
}

#foot-content a{
    color: var(--cornsilk);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Non-mobile screens */
@media only screen and (min-width: 600px) {
    #head-content > h1{
        padding-left: 10%;
        text-align: left;
    }
}